li {
    color: green;
}


.topBox {
 
  /*display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
  height: auto; 
  overflow: hidden;
  background-color: lightblue;*/
}

/*.SearchBox input[type=text] {
  
  padding: 10px;
  border: 25px;
  background-color: #606060;
  margin: 15px;
  font-size: 17px;
}*/

.ClearBox {
  /*opacity: 0.5;*/
}


